@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&family=Staatliches&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', sans-serif;
    font-size: 36px;
}

p{
    margin-top: 20%;
}